In [1]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_excel('../data/Catalunya.xls', sheet_name=1)

WARNING *** file size (11645737) not 512 + multiple of sector size (512)

In [71]:
df.head()

,Unnamed: 0,Company Name,CNAE 2009 Primary Code,Postal Code,Province,Operating revenue / turnover\nth EUR\n2019,EBITDA\nth EUR\n2019,Net income\nth EUR\n2019,Total assets\nth EUR\n2019,Shareholders funds\nth EUR\n2019,Number of employees\n2019
0,1.0,SEAT SA,2910.0,8760.0,Barcelona,11423000,746700,345600,5843000,1991400,14667
1,2.0,FOMENTO DE CONSTRUCCIONES Y CONTRATAS SA,7010.0,8007.0,Barcelona,6490558,960723,339924,12574140,2807561,58432
2,3.0,BAYER HISPANIA SL,2110.0,8970.0,Barcelona,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,VIDACAIXA GRUPO SA (EXTINGUIDA),6511.0,8014.0,Barcelona,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,5.0,GRIFOLS SA,6420.0,8022.0,Barcelona,5124497,1433820,648644,15542611,6845768,21147

In [ ]:
#Drop the Unnamed Column

In [72]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [76]:
#Now we change the name of the columns

In [77]:
cols = ['Name', 'Activity_Code', 'Postal_Code', 'Province', 'Revenue', 'EBITDA', 'Net_Income', 'Total_Assets', 'Equity', 'Employees']

In [78]:
df.columns = cols

In [79]:
#We delete all companies that are extinguished

In [80]:
patternDel = "(EXTINGUIDA)"
filter = df['Name'].str.contains(patternDel)
df = df[~filter]

C:\Users\joanr\AppData\Local\Temp\ipykernel_16428\1228750104.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filter = df['Name'].str.contains(patternDel)

In [82]:
#Changing the string n.a. for a nan value

In [83]:
df.replace('n.a.', np.nan, inplace = True)

In [85]:
#We change the string Export Limit reached for nan value

In [86]:
df.replace('Financial Export limit reached', np.nan, inplace = True)

In [90]:
#We drop all nan values

In [91]:
df.dropna(axis = 0, inplace = True)

In [93]:
#We keep the companies where the revenue is higher than 5 million

In [94]:
df = df[df['Revenue'] > 5000 ]

In [95]:
df.shape

(7779, 10)

In [98]:
#Change the floats for Revenue, EBITDA, Net Income, Total Assets and Equity for integers

In [104]:
df['Revenue'] = df['Revenue'].astype('int64')
df['EBITDA'] = df['EBITDA'].astype('int64')
df['Net_Income'] = df['Net_Income'].astype('int64')
df['Total_Assets'] = df['Total_Assets'].astype('int64')
df['Equity'] = df['Equity'].astype('int64')
df['Employees'] = df['Employees'].astype('int64')
df['Activity_Code'] = df['Activity_Code'].astype('int64')
df['Postal_Code'] = df['Postal_Code'].astype('int64')

In [105]:
df.head()

,Name,Activity_Code,Postal_Code,Province,Revenue,EBITDA,Net_Income,Total_Assets,Equity,Employees
0,SEAT SA,2910,8760,Barcelona,11423000,746700,345600,5843000,1991400,14667
1,FOMENTO DE CONSTRUCCIONES Y CONTRATAS SA,7010,8007,Barcelona,6490558,960723,339924,12574140,2807561,58432
4,GRIFOLS SA,6420,8022,Barcelona,5124497,1433820,648644,15542611,6845768,21147
5,LIDL SUPERMERCADOS SAU,4711,8110,Barcelona,4443165,362517,172642,2921430,1175303,11689
7,BUNGE IBERICA SA,4621,8960,Barcelona,3828004,27844,13838,1413173,417189,488

In [110]:
df['Liabilities'] = df['Total_Assets'] - df['Equity']