In [1]:
import pandas as pd
import numpy as np

In [289]:
df = pd.read_excel('../data/Catalunya.xls', sheet_name=1)

WARNING *** file size (11645737) not 512 + multiple of sector size (512)

In [290]:
df.head()

,Unnamed: 0,Company Name,CNAE 2009 Primary Code,Postal Code,Province,Operating revenue / turnover\nth EUR\n2019,EBITDA\nth EUR\n2019,Net income\nth EUR\n2019,Total assets\nth EUR\n2019,Shareholders funds\nth EUR\n2019,Number of employees\n2019
0,1.0,SEAT SA,2910.0,8760.0,Barcelona,11423000,746700,345600,5843000,1991400,14667
1,2.0,FOMENTO DE CONSTRUCCIONES Y CONTRATAS SA,7010.0,8007.0,Barcelona,6490558,960723,339924,12574140,2807561,58432
2,3.0,BAYER HISPANIA SL,2110.0,8970.0,Barcelona,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,VIDACAIXA GRUPO SA (EXTINGUIDA),6511.0,8014.0,Barcelona,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,5.0,GRIFOLS SA,6420.0,8022.0,Barcelona,5124497,1433820,648644,15542611,6845768,21147

In [291]:
#Drop the Unnamed Column

In [292]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [293]:
#Now we change the name of the columns

In [294]:
cols = ['Name', 'Activity_Code', 'Postal_Code', 'Province', 'Revenue', 'EBITDA', 'Net_Income', 'Total_Assets', 'Equity', 'Employees']

In [295]:
df.columns = cols

In [296]:
#We delete all companies that are extinguished

In [297]:
patternDel = "(EXTINGUIDA)"
filter = df['Name'].str.contains(patternDel)
df = df[~filter]

C:\Users\joanr\AppData\Local\Temp\ipykernel_25616\1228750104.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filter = df['Name'].str.contains(patternDel)

In [298]:
#Changing the string n.a. for a nan value

In [299]:
df.replace('n.a.', np.nan, inplace = True)

In [300]:
#We change the string Export Limit reached for nan value

In [301]:
df.replace('Financial Export limit reached', np.nan, inplace = True)

In [302]:
#We drop all nan values

In [303]:
df.dropna(axis = 0, inplace = True)

In [304]:
#We keep the companies where the revenue is higher than 5 million

In [305]:
df = df[df['Revenue'] > 5000 ]

In [306]:
df.shape

(7779, 10)

In [307]:
#Change the floats for Revenue, EBITDA, Net Income, Total Assets and Equity for integers

In [308]:
df['Revenue'] = df['Revenue'].astype('int64')
df['EBITDA'] = df['EBITDA'].astype('int64')
df['Net_Income'] = df['Net_Income'].astype('int64')
df['Total_Assets'] = df['Total_Assets'].astype('int64')
df['Equity'] = df['Equity'].astype('int64')
df['Employees'] = df['Employees'].astype('int64')
df['Activity_Code'] = df['Activity_Code'].astype('int64')
df['Postal_Code'] = df['Postal_Code'].astype('int64')

In [309]:
df.tail()

,Name,Activity_Code,Postal_Code,Province,Revenue,EBITDA,Net_Income,Total_Assets,Equity,Employees
14969,POBLE ESPANYOL DE MONTJUIC SA,9321,8038,Barcelona,6186,1194,603,5265,3069,46
14984,PASTRY FACTORY SL.,1072,8192,Barcelona,5515,-974,-1070,8295,-1605,59
14995,NACAR CENTRE AUTOMOCIO SL,4511,25002,Lleida,5022,-63,-55,1830,1330,8
14997,GENERAL GALVANICA GIRONINA SL,2932,17080,Girona,6611,1231,545,4850,3674,61
14999,MAS PINELL HOSTELERIA Y LOGISTICA SL,4711,8022,Barcelona,5188,1061,822,2281,1600,14

In [310]:
df['Liabilities'] = df['Total_Assets'] - df['Equity']

In [311]:
x = pd.read_csv('../data/CP_Municipis2.csv')
x.head()

   Identificador  Codi postal  Codi municipi        Nom municipi
0              1         8630          80018              Abrera
1              2         8256          80023  Aguilar de Segarra
2              3         8281          80023  Aguilar de Segarra
3              4         8328          80039              Alella
4              5         8587          80044              Alpens

In [312]:
y = pd.read_csv('../data/Municipis_Cat3.csv', sep=";")
y.head()

     Codi                 Nom  Codi comarca     Nom comarca
0  250019  Abella de la Conca            25   Pallars Jussà
1   80018              Abrera            11  Baix Llobregat
2  250024                Àger            23         Noguera
3  250030            Agramunt            38          Urgell
4   80023  Aguilar de Segarra             7           Bages

In [313]:
x.rename(columns={'Codi municipi': 'Codi_Municipi'}, inplace = True)

In [314]:
x.dtypes

Identificador     int64
Codi postal       int64
Codi_Municipi     int64
Nom municipi     object
dtype: object

In [315]:
y.rename(columns={'Codi': 'Codi_Municipi'}, inplace = True)

In [316]:
y.dtypes

Codi_Municipi     int64
Nom              object
Codi comarca      int64
Nom comarca      object
dtype: object

In [317]:
x['Codi_Municipi'] = x['Codi_Municipi'].astype('int64')

In [318]:
x.dtypes

Identificador     int64
Codi postal       int64
Codi_Municipi     int64
Nom municipi     object
dtype: object

In [319]:
y.dtypes

Codi_Municipi     int64
Nom              object
Codi comarca      int64
Nom comarca      object
dtype: object

In [320]:
merged = x.merge(y, on = 'Codi_Municipi')

In [321]:
merged[merged["Codi postal"] == 43206]

,Identificador,Codi postal,Codi_Municipi,Nom municipi,Nom,Codi comarca,Nom comarca
1315,1316,43206,431233,Reus,Reus,8,Baix Camp

In [322]:
merged.rename(columns={'Codi postal': 'Postal_Code', "Nom comarca": "Comarca"}, inplace = True)

In [323]:
merged.head()

,Identificador,Postal_Code,Codi_Municipi,Nom municipi,Nom,Codi comarca,Comarca
0,1,8630,80018,Abrera,Abrera,11,Baix Llobregat
1,2,8256,80023,Aguilar de Segarra,Aguilar de Segarra,7,Bages
2,3,8281,80023,Aguilar de Segarra,Aguilar de Segarra,7,Bages
3,4,8328,80039,Alella,Alella,21,Maresme
4,5,8587,80044,Alpens,Alpens,24,Osona

In [324]:
df = pd.merge(df,merged[['Postal_Code','Nom','Comarca']],on='Postal_Code', how='left')

In [325]:
df.head()

,Name,Activity_Code,Postal_Code,Province,Revenue,EBITDA,Net_Income,Total_Assets,Equity,Employees,Liabilities,Nom,Comarca
0,SEAT SA,2910,8760,Barcelona,11423000,746700,345600,5843000,1991400,14667,3851600,Martorell,Baix Llobregat
1,FOMENTO DE CONSTRUCCIONES Y CONTRATAS SA,7010,8007,Barcelona,6490558,960723,339924,12574140,2807561,58432,9766579,Barcelona,Barcelonès
2,GRIFOLS SA,6420,8022,Barcelona,5124497,1433820,648644,15542611,6845768,21147,8696843,Barcelona,Barcelonès
3,LIDL SUPERMERCADOS SAU,4711,8110,Barcelona,4443165,362517,172642,2921430,1175303,11689,1746127,Montcada i Reixac,Vallès Occidental
4,BUNGE IBERICA SA,4621,8960,Barcelona,3828004,27844,13838,1413173,417189,488,995984,Sant Just Desvern,Baix Llobregat

In [326]:
df.isna().sum()

Name              0
Activity_Code     0
Postal_Code       0
Province          0
Revenue           0
EBITDA            0
Net_Income        0
Total_Assets      0
Equity            0
Employees         0
Liabilities       0
Nom              34
Comarca          34
dtype: int64

In [327]:
null = df[df.isna().any(axis=1)]

In [328]:
null['Postal_Code'].unique()

array([25190,  8190, 17080], dtype=int64)

In [329]:
x[x['Codi postal'] == 25191]

     Identificador  Codi postal  Codi_Municipi Nom municipi
928            929        25191         251207       Lleida

In [330]:
y[y['Codi_Municipi'] == 251207]

     Codi_Municipi     Nom  Codi comarca Nom comarca
385         251207  Lleida            33      Segrià

In [331]:
df[df['Postal_Code'] == 17080]

,Name,Activity_Code,Postal_Code,Province,Revenue,EBITDA,Net_Income,Total_Assets,Equity,Employees,Liabilities,Nom,Comarca
8462,GENERAL GALVANICA GIRONINA SL,2932,17080,Girona,6611,1231,545,4850,3674,61,1176,NaN,NaN