In [1]:
import pandas as pd
import numpy as np

In [131]:
df = pd.read_excel('../data/Catalunya.xls', sheet_name=1)

WARNING *** file size (11645737) not 512 + multiple of sector size (512)

In [132]:
df.head()

,Unnamed: 0,Company Name,CNAE 2009 Primary Code,Postal Code,Province,Operating revenue / turnover\nth EUR\n2019,EBITDA\nth EUR\n2019,Net income\nth EUR\n2019,Total assets\nth EUR\n2019,Shareholders funds\nth EUR\n2019,Number of employees\n2019
0,1.0,SEAT SA,2910.0,8760.0,Barcelona,11423000,746700,345600,5843000,1991400,14667
1,2.0,FOMENTO DE CONSTRUCCIONES Y CONTRATAS SA,7010.0,8007.0,Barcelona,6490558,960723,339924,12574140,2807561,58432
2,3.0,BAYER HISPANIA SL,2110.0,8970.0,Barcelona,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,VIDACAIXA GRUPO SA (EXTINGUIDA),6511.0,8014.0,Barcelona,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,5.0,GRIFOLS SA,6420.0,8022.0,Barcelona,5124497,1433820,648644,15542611,6845768,21147

In [133]:
#Drop the Unnamed Column

In [134]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [135]:
#Now we change the name of the columns

In [136]:
cols = ['Name', 'Activity_Code', 'Postal_Code', 'Province', 'Revenue', 'EBITDA', 'Net_Income', 'Total_Assets', 'Equity', 'Employees']

In [137]:
df.columns = cols

In [138]:
#We delete all companies that are extinguished

In [139]:
patternDel = "(EXTINGUIDA)"
filter = df['Name'].str.contains(patternDel)
df = df[~filter]

C:\Users\joanr\AppData\Local\Temp\ipykernel_16428\1228750104.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filter = df['Name'].str.contains(patternDel)

In [140]:
#Changing the string n.a. for a nan value

In [141]:
df.replace('n.a.', np.nan, inplace = True)

In [142]:
#We change the string Export Limit reached for nan value

In [143]:
df.replace('Financial Export limit reached', np.nan, inplace = True)

In [144]:
#We drop all nan values

In [145]:
df.dropna(axis = 0, inplace = True)

In [146]:
#We keep the companies where the revenue is higher than 5 million

In [147]:
df = df[df['Revenue'] > 5000 ]

In [148]:
df.shape

(7779, 10)

In [98]:
#Change the floats for Revenue, EBITDA, Net Income, Total Assets and Equity for integers

In [151]:
df['Revenue'] = df['Revenue'].astype('int64')
df['EBITDA'] = df['EBITDA'].astype('int64')
df['Net_Income'] = df['Net_Income'].astype('int64')
df['Total_Assets'] = df['Total_Assets'].astype('int64')
df['Equity'] = df['Equity'].astype('int64')
df['Employees'] = df['Employees'].astype('int64')
df['Activity_Code'] = df['Activity_Code'].astype('int64')
df['Postal_Code'] = df['Postal_Code'].astype('int64')

In [152]:
df.tail()

,Name,Activity_Code,Postal_Code,Province,Revenue,EBITDA,Net_Income,Total_Assets,Equity,Employees
14969,POBLE ESPANYOL DE MONTJUIC SA,9321,8038,Barcelona,6186,1194,603,5265,3069,46
14984,PASTRY FACTORY SL.,1072,8192,Barcelona,5515,-974,-1070,8295,-1605,59
14995,NACAR CENTRE AUTOMOCIO SL,4511,25002,Lleida,5022,-63,-55,1830,1330,8
14997,GENERAL GALVANICA GIRONINA SL,2932,17080,Girona,6611,1231,545,4850,3674,61
14999,MAS PINELL HOSTELERIA Y LOGISTICA SL,4711,8022,Barcelona,5188,1061,822,2281,1600,14

In [110]:
df['Liabilities'] = df['Total_Assets'] - df['Equity']

In [123]:
x = pd.read_csv('../data/CP_Municipis.csv')
x.head()

   Identificador  Codi postal  Codi municipi        Nom municipi
0              1         8630          80018              Abrera
1              2         8256          80023  Aguilar de Segarra
2              3         8281          80023  Aguilar de Segarra
3              4         8328          80039              Alella
4              5         8587          80044              Alpens

In [129]:
if len(str(x['Codi postal'])) < 5:
    print(x)

In [121]:
y = pd.read_csv('../data/Municipis_Cat.csv')
y.head()

     Codi                 Nom  Codi comarca     Nom comarca  Unnamed: 4
0  250019  Abella de la Conca          25.0   Pallars Jussà         NaN
1  080018              Abrera          11.0  Baix Llobregat         NaN
2  250024                Àger          23.0         Noguera         NaN
3  250030            Agramunt          38.0          Urgell         NaN
4  080023  Aguilar de Segarra           7.0           Bages         NaN