In [1]:
import pandas as pd
import numpy as np

In [504]:
df = pd.read_excel('../data/Catalunya.xls', sheet_name=1)

WARNING *** file size (11645737) not 512 + multiple of sector size (512)

In [505]:
df.head()

,Unnamed: 0,Company Name,CNAE 2009 Primary Code,Postal Code,Province,Operating revenue / turnover\nth EUR\n2019,EBITDA\nth EUR\n2019,Net income\nth EUR\n2019,Total assets\nth EUR\n2019,Shareholders funds\nth EUR\n2019,Number of employees\n2019
0,1.0,SEAT SA,2910.0,8760.0,Barcelona,11423000,746700,345600,5843000,1991400,14667
1,2.0,FOMENTO DE CONSTRUCCIONES Y CONTRATAS SA,7010.0,8007.0,Barcelona,6490558,960723,339924,12574140,2807561,58432
2,3.0,BAYER HISPANIA SL,2110.0,8970.0,Barcelona,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,VIDACAIXA GRUPO SA (EXTINGUIDA),6511.0,8014.0,Barcelona,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,5.0,GRIFOLS SA,6420.0,8022.0,Barcelona,5124497,1433820,648644,15542611,6845768,21147

In [506]:
#Drop the Unnamed Column

In [507]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [508]:
#Now we change the name of the columns

In [509]:
cols = ['Name', 'Activity_Code', 'Postal_Code', 'Province', 'Revenue', 'EBITDA', 'Net_Income', 'Total_Assets', 'Equity', 'Employees']

In [510]:
df.columns = cols

In [511]:
#We delete all companies that are extinguished

In [512]:
patternDel = "(EXTINGUIDA)"
filter = df['Name'].str.contains(patternDel)
df = df[~filter]

C:\Users\joanr\AppData\Local\Temp\ipykernel_25616\1228750104.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filter = df['Name'].str.contains(patternDel)

In [513]:
#Changing the string n.a. for a nan value

In [514]:
df.replace('n.a.', np.nan, inplace = True)

In [515]:
#We change the string Export Limit reached for nan value

In [516]:
df.replace('Financial Export limit reached', np.nan, inplace = True)

In [517]:
#We drop all nan values

In [518]:
df.dropna(axis = 0, inplace = True)

In [519]:
#We keep the companies where the revenue is higher than 5 million

In [520]:
df = df[df['Revenue'] > 5000 ]

In [521]:
df.shape

(7779, 10)

In [522]:
#Change the floats for Revenue, EBITDA, Net Income, Total Assets and Equity for integers

In [523]:
df['Revenue'] = df['Revenue'].astype('int64')
df['EBITDA'] = df['EBITDA'].astype('int64')
df['Net_Income'] = df['Net_Income'].astype('int64')
df['Total_Assets'] = df['Total_Assets'].astype('int64')
df['Equity'] = df['Equity'].astype('int64')
df['Employees'] = df['Employees'].astype('int64')
df['Activity_Code'] = df['Activity_Code'].astype('int64')
df['Postal_Code'] = df['Postal_Code'].astype('int64')

In [524]:
df.tail()

,Name,Activity_Code,Postal_Code,Province,Revenue,EBITDA,Net_Income,Total_Assets,Equity,Employees
14969,POBLE ESPANYOL DE MONTJUIC SA,9321,8038,Barcelona,6186,1194,603,5265,3069,46
14984,PASTRY FACTORY SL.,1072,8192,Barcelona,5515,-974,-1070,8295,-1605,59
14995,NACAR CENTRE AUTOMOCIO SL,4511,25002,Lleida,5022,-63,-55,1830,1330,8
14997,GENERAL GALVANICA GIRONINA SL,2932,17080,Girona,6611,1231,545,4850,3674,61
14999,MAS PINELL HOSTELERIA Y LOGISTICA SL,4711,8022,Barcelona,5188,1061,822,2281,1600,14

In [525]:
df['Liabilities'] = df['Total_Assets'] - df['Equity']

In [526]:
x = pd.read_csv('../data/CP_Municipis2.csv')
x.head()

   Identificador  Codi postal  Codi municipi        Nom municipi
0              1         8630          80018              Abrera
1              2         8256          80023  Aguilar de Segarra
2              3         8281          80023  Aguilar de Segarra
3              4         8328          80039              Alella
4              5         8587          80044              Alpens

In [550]:
#There was a missing zip code for Lleida, so I add it to the dataframe

In [527]:
x.loc[len(x.index)] = [1413, 25190, 251207, 'Lleida']

In [528]:
x.tail()

      Identificador  Codi postal  Codi municipi     Nom municipi
1410           1411        43100         439076      Canonja, la
1411           1412        43110         439076      Canonja, la
1412           9998        99998         999998        No consta
1413           9999        99999         999999  Altres/Diversos
1414           1413        25190         251207           Lleida

In [529]:
y = pd.read_csv('../data/Municipis_Cat3.csv', sep=";")
y.head()

     Codi                 Nom  Codi comarca     Nom comarca
0  250019  Abella de la Conca            25   Pallars Jussà
1   80018              Abrera            11  Baix Llobregat
2  250024                Àger            23         Noguera
3  250030            Agramunt            38          Urgell
4   80023  Aguilar de Segarra             7           Bages

In [530]:
y[y['Nom']=='Lleida']

       Codi     Nom  Codi comarca Nom comarca
385  251207  Lleida            33      Segrià

In [531]:
x.rename(columns={'Codi municipi': 'Codi_Municipi'}, inplace = True)

In [532]:
x.dtypes

Identificador     int64
Codi postal       int64
Codi_Municipi     int64
Nom municipi     object
dtype: object

In [533]:
y.rename(columns={'Codi': 'Codi_Municipi'}, inplace = True)

In [534]:
y.dtypes

Codi_Municipi     int64
Nom              object
Codi comarca      int64
Nom comarca      object
dtype: object

In [535]:
x['Codi_Municipi'] = x['Codi_Municipi'].astype('int64')

In [536]:
x.dtypes

Identificador     int64
Codi postal       int64
Codi_Municipi     int64
Nom municipi     object
dtype: object

In [537]:
y.dtypes

Codi_Municipi     int64
Nom              object
Codi comarca      int64
Nom comarca      object
dtype: object

In [538]:
merged = x.merge(y, on = 'Codi_Municipi')

In [539]:
merged.rename(columns={'Codi postal': 'Postal_Code', "Nom comarca": "Comarca"}, inplace = True)

In [540]:
merged.head()

,Identificador,Postal_Code,Codi_Municipi,Nom municipi,Nom,Codi comarca,Comarca
0,1,8630,80018,Abrera,Abrera,11,Baix Llobregat
1,2,8256,80023,Aguilar de Segarra,Aguilar de Segarra,7,Bages
2,3,8281,80023,Aguilar de Segarra,Aguilar de Segarra,7,Bages
3,4,8328,80039,Alella,Alella,21,Maresme
4,5,8587,80044,Alpens,Alpens,24,Osona

In [541]:
#There is an error in the Postal Code of the company called GENERAL GALVANICA GIRONINA SL, so i change it to the right one

In [542]:
df['Postal_Code'] = df['Postal_Code'].replace([17080],17007)

In [543]:
#There is another error in the Postal Code of the company called VENVIL BESTIARS I CARNS SL, so I changed it to

In [544]:
df['Postal_Code'] = df['Postal_Code'].replace([8190],8174)

In [545]:
df = pd.merge(df,merged[['Postal_Code','Nom','Comarca']],on='Postal_Code', how='left')

In [546]:
df.head()

,Name,Activity_Code,Postal_Code,Province,Revenue,EBITDA,Net_Income,Total_Assets,Equity,Employees,Liabilities,Nom,Comarca
0,SEAT SA,2910,8760,Barcelona,11423000,746700,345600,5843000,1991400,14667,3851600,Martorell,Baix Llobregat
1,FOMENTO DE CONSTRUCCIONES Y CONTRATAS SA,7010,8007,Barcelona,6490558,960723,339924,12574140,2807561,58432,9766579,Barcelona,Barcelonès
2,GRIFOLS SA,6420,8022,Barcelona,5124497,1433820,648644,15542611,6845768,21147,8696843,Barcelona,Barcelonès
3,LIDL SUPERMERCADOS SAU,4711,8110,Barcelona,4443165,362517,172642,2921430,1175303,11689,1746127,Montcada i Reixac,Vallès Occidental
4,BUNGE IBERICA SA,4621,8960,Barcelona,3828004,27844,13838,1413173,417189,488,995984,Sant Just Desvern,Baix Llobregat

In [547]:
df.isna().sum()

Name             0
Activity_Code    0
Postal_Code      0
Province         0
Revenue          0
EBITDA           0
Net_Income       0
Total_Assets     0
Equity           0
Employees        0
Liabilities      0
Nom              0
Comarca          0
dtype: int64

In [555]:
df['Postal_Code'] = df['Postal_Code'].astype('str')

In [556]:
df.dtypes

Name             object
Activity_Code     int64
Postal_Code      object
Province         object
Revenue           int64
EBITDA            int64
Net_Income        int64
Total_Assets      int64
Equity            int64
Employees         int64
Liabilities       int64
Nom              object
Comarca          object
dtype: object

In [557]:
df['Postal_Code'] = df['Postal_Code'].str.zfill(5)

In [558]:
df.head()

,Name,Activity_Code,Postal_Code,Province,Revenue,EBITDA,Net_Income,Total_Assets,Equity,Employees,Liabilities,Nom,Comarca
0,SEAT SA,2910,08760,Barcelona,11423000,746700,345600,5843000,1991400,14667,3851600,Martorell,Baix Llobregat
1,FOMENTO DE CONSTRUCCIONES Y CONTRATAS SA,7010,08007,Barcelona,6490558,960723,339924,12574140,2807561,58432,9766579,Barcelona,Barcelonès
2,GRIFOLS SA,6420,08022,Barcelona,5124497,1433820,648644,15542611,6845768,21147,8696843,Barcelona,Barcelonès
3,LIDL SUPERMERCADOS SAU,4711,08110,Barcelona,4443165,362517,172642,2921430,1175303,11689,1746127,Montcada i Reixac,Vallès Occidental
4,BUNGE IBERICA SA,4621,08960,Barcelona,3828004,27844,13838,1413173,417189,488,995984,Sant Just Desvern,Baix Llobregat

In [561]:
df.groupby('Province').sum()

,Activity_Code,Revenue,EBITDA,Net_Income,Total_Assets,Equity,Employees,Liabilities
Province,,,,,,,,
Barcelona,29238387,351785957,33319779,17641374,389757920,177151574,1294882,212606346
Girona,3746605,38873247,2324137,1140683,23334311,10922602,179257,12411709
Lleida,1929441,18284289,1165610,657111,11592579,5573515,48034,6019064
Tarragona,1974570,19126599,1708126,696521,16370046,7572249,63438,8797797